@include block('cta'){
  @include child('inner'){
    @include max-width();
    margin-top: 50px;
    margin-bottom: 50px;

    background-color: $teal-6;
    /* bottom, image */
    background-image :url(../images/810.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
  }
  
  @include child('text'){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $white;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
  }

  @include child('title'){
    @include title-style();
    font-size: 40px;
    letter-spacing: -3px;
    color: $teal-6;
    margin-bottom:10px;
    line-height: 35px;

    @include media($bp-md){
      font-size: 50px;
      margin-bottom: 0;
      line-height: 50px;
    }
  }

  @include child('subtitle'){
    font-weight: 300;
    font-size: 13px;
    margin: 0;
    margin-top: -8px;
    color: $teal-5;
  }

  @include child('button'){
    border: none;
    background: orange;
    margin-top: 15px;
    padding: 10px;
    width: 50%;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    color: $white;
  }

  @include child('link-sign-in'){
    font-weight: 600;
    font-size: 12px;
    margin: 0;
    color: black;
  }

}
