@include block('reward'){
  background-color: $grey-light;

  @include child('inner'){
    @include max-width();
    text-align: center;
  }

  @include child('upper'){
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  @include child('title'){
    @include title-style();
    line-height:25px;
    color:$grey-dark;

    @include child('line'){
      display: none;
      width:120px;
      height:1px;
      background-color: lighten($grey-dark, 50%);

      @include media($bp-md){
        display: block;
      }
    }
  }

  @include child('tiers'){
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;

    @include media($bp-md){
      flex-direction: row;
      flex-wrap: nowrap;
    }

  }
  @include child('tier'){
    list-style: none;
    padding: 0 0 20px ;
  }

  @include child('medal'){
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &#bronze{
      background-color: $bronze;
    }

    &#silver{
      background-color: $silver;
    }

    &#gold{
      background-color: $gold;
    }

    &#platinum{
      background-color: $platinum-2;
      border: 2px solid $white;

      .reward__medal-text{
        color: $white;
        background-color: $platinum-1;
      }

    }
  }

  @include child('medal-text'){
    border: 2px solid $white;
    padding: 2px 6px;
    color: $white;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 800;
  }

  @include child('content'){
    font-size: 10px;
    text-transform: uppercase;
    margin: 0 auto;
  }

  @include child('content-title'){
    font-weight:bold;
    margin-bottom: 0;
  }
  @include child('content-description'){
    max-width: 130px;
    line-height: 10px;
    margin: 0 auto;
  }
}