@mixin title-style(){
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  word-spacing: 8px;
  font-weight: bold;
  font-size:30px;
}
@import 'lib/breakpoints';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900');
@import 'lib/bem';
@import 'lib/color-variables';
@import 'header';
@import 'main';
@import 'footer';



body{
  margin: 0;
  font-family: 'Montserrat', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
 /* container-wide */
.container{
  width: 100%;
}
.container__section{
  display: block;
  width: 100%;
  /* min-height: 200px; */
}
ul{
  padding:0;
}