.header .header__upper {
  min-height: 75px;
  background-color: #2ca0b0; }

.header .header__lower {
  min-height: 50px;
  background-color: #125056; }

.cta_inner {
  width: 100%;
  max-width: 800px;
  margin: 20px auto; }

.cta-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

/* main */
* {
  /* border: 1px solid blue; */ }

body {
  background: white;
  margin: 0; }

/* container-wide */
.container {
  width: 100%;
  /* max-width: 900px; */
  margin: 0 auto; }

.container__section {
  display: block;
  width: 100%;
  /* min-height: 200px; */ }
