@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900");
.header__upper {
  min-height: 75px;
  background-color: #2ca0b0; }

.header__lower {
  min-height: 50px;
  background-color: #125056; }

.cta__inner {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #125056;
  /* bottom, image */
  background-image: url(../images/810.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center; }

.cta__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  max-width: 700px;
  margin: 0 auto;
  text-align: center; }

.cta__title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  word-spacing: 8px;
  font-weight: bold;
  font-size: 30px;
  font-size: 40px;
  letter-spacing: -3px;
  color: #125056;
  margin-bottom: 10px;
  line-height: 35px; }
  @media screen and (min-width: 768px) {
    .cta__title {
      font-size: 50px;
      margin-bottom: 0;
      line-height: 50px; } }

.cta__subtitle {
  font-weight: 300;
  font-size: 13px;
  margin: 0;
  margin-top: -8px;
  color: #2ca0b0; }

.cta__button {
  border: none;
  background: orange;
  margin-top: 15px;
  padding: 10px;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 900;
  color: #FFFFFF; }

.cta__link-sign-in {
  font-weight: 600;
  font-size: 12px;
  margin: 0;
  color: black; }

.reward {
  background-color: #EBEBEB; }
  .reward__inner {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    text-align: center; }
  .reward__upper {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  .reward__title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    word-spacing: 8px;
    font-weight: bold;
    font-size: 30px;
    line-height: 25px;
    color: #464646; }
    .reward__title__line {
      display: none;
      width: 120px;
      height: 1px;
      background-color: #c6c6c6; }
      @media screen and (min-width: 768px) {
        .reward__title__line {
          display: block; } }
  .reward__tiers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap; }
    @media screen and (min-width: 768px) {
      .reward__tiers {
        flex-direction: row;
        flex-wrap: nowrap; } }
  .reward__tier {
    list-style: none;
    padding: 0 0 20px; }
  .reward__medal {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center; }
    .reward__medal#bronze {
      background-color: #BE5F4A; }
    .reward__medal#silver {
      background-color: #C2C2C2; }
    .reward__medal#gold {
      background-color: #E18234; }
    .reward__medal#platinum {
      background-color: #DEDEDE;
      border: 2px solid #FFFFFF; }
      .reward__medal#platinum .reward__medal-text {
        color: #FFFFFF;
        background-color: #636363; }
  .reward__medal-text {
    border: 2px solid #FFFFFF;
    padding: 2px 6px;
    color: #FFFFFF;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 800; }
  .reward__content {
    font-size: 10px;
    text-transform: uppercase;
    margin: 0 auto; }
  .reward__content-title {
    font-weight: bold;
    margin-bottom: 0; }
  .reward__content-description {
    max-width: 130px;
    line-height: 10px;
    margin: 0 auto; }

.earn__inner {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  max-width: 600px;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 60px;
  border: 2px solid #125056;
  position: relative; }

.earn__title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  word-spacing: 8px;
  font-weight: bold;
  font-size: 30px;
  color: #464646;
  position: absolute;
  background-color: #FFFFFF;
  top: -45px;
  left: calc(50% - 250px);
  width: 500px;
  height: 40px;
  text-align: center; }

.earn__link {
  position: absolute;
  bottom: -19px;
  left: calc(50% - 150px);
  text-decoration: none; }

.earn__button {
  border: none;
  background: #464646;
  padding: 10px;
  width: 300px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 900;
  color: #FFFFFF; }

.earn__section {
  display: flex;
  flex-direction: column; }

.earn__refer {
  background-color: #125056;
  padding: 20px;
  margin: 0 auto;
  text-align: center; }
  .earn__refer__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center; }
    .earn__refer__content img {
      width: 20px;
      height: 100%; }
  .earn__refer__text {
    display: inline-block;
    width: 400px;
    margin: 0 10px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 14px; }
    .earn__refer__text__bold {
      font-weight: 700; }
  .earn__refer__button {
    margin-top: 10px; }
    .earn__refer__button button {
      background-color: #FFFFFF;
      color: #82A5A9; }

.earn__circles {
  margin-top: 10px; }

.earn .ways-to-earn__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: 0; }
  .earn .ways-to-earn__list .way-to-earn {
    list-style: none;
    flex-basis: 25%;
    text-align: center;
    padding: 10px; }
    .earn .ways-to-earn__list .way-to-earn:first-child {
      padding-left: 0; }
    .earn .ways-to-earn__list .way-to-earn:last-child {
      padding-right: 0; }
    .earn .ways-to-earn__list .way-to-earn__circle {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: #628D95;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto; }
    .earn .ways-to-earn__list .way-to-earn__content {
      font-size: 10px;
      text-transform: uppercase;
      width: 100px;
      margin: 0 auto;
      color: #125056; }
      .earn .ways-to-earn__list .way-to-earn__content p {
        margin: 0;
        line-height: 10px; }
    .earn .ways-to-earn__list .way-to-earn__points {
      font-size: 12px;
      font-weight: 800;
      margin-top: 5px !important; }
    .earn .ways-to-earn__list .way-to-earn__how-to {
      margin-top: 2px !important;
      font-weight: 600; }

.spend {
  background-color: #125056; }
  .spend__inner {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    padding: 30px 20px;
    text-align: center; }
  .spend__title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    word-spacing: 8px;
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
    font-size: 32px;
    margin-top: 0; }
  .spend__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .spend__list {
        flex-direction: row; } }
  .spend__item {
    list-style: none;
    margin: 7px auto;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 175px;
    color: #125056; }
    @media screen and (min-width: 768px) {
      .spend__item {
        margin: 0 7px; } }
    .spend__item#five {
      background-color: #FDDD98; }
    .spend__item#ten {
      background-color: #FABD27; }
    .spend__item#twenty-five {
      background-color: #F9A400; }
    .spend__item p {
      margin: 0;
      position: relative; }
    .spend__item--text-top {
      width: 60%;
      top: 5px;
      line-height: 12px; }
    .spend__item--text-middle {
      font-size: 70px;
      margin: 0; }
    .spend__item--text-bottom {
      top: -10px; }
  .spend__bold {
    font-weight: bold; }

/* main */
body {
  margin: 0;
  font-family: 'Montserrat', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

/* container-wide */
.container {
  width: 100%; }

.container__section {
  display: block;
  width: 100%;
  /* min-height: 200px; */ }

ul {
  padding: 0; }
